<style>
  <!--
    body {background-image: none;
          background-color: #080808;}
  -->
</style>

<div class="content">

  <div class="col1">
    <div class="controls">
      <ul>
        <li ng-click="toggleMyVideo()">Toggle Video</li>
        <li ng-click="toggleMyAudio()">Toggle Audio</li>
      </ul>
    </div>
    <div class="chat">
      <div class="messages">
      </div>
      <div class="message-input">
        <textarea class="chat-text boxsizingBorder" type="text"></textarea>
        <button type="submit" class="chat-send-button">Send</button>
      </div>
    </div>
  </div>

  <div class="col2">
    <div class="presentation">
      <div class="vid">
        <video class="video main" autoplay muted></video>
      </div>
    </div>
  </div>

  <div class="col3">
    <div class="sidebar-videos">
      <!-- <video ng-repeat="video in sidebarVideos" ng-click="supplantMain(video)" class="video individual"></video> -->
    </div>
  </div>

</div>


