.presentation {
  height: 100vh;
  padding-right: 0;
}
.sidebar-videos {
  padding-left: 0;
}
.presentation .vid {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  color: #555;
  margin: 0px;
  padding-right: 12px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  display: inline;
}
.label {
  font-weight: normal !important;
  font-size: 16px;
  position: absolute;
  z-index: 10;
  padding: 4px;
  margin: 0;
  color: grey;
}
.content {
  padding: 0;
  margin: 0;
  width: 100%;
}
.main {
  display: block;
  z-index: 0;
  width: 100%;
  max-height: 100%;
}
video {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
}
.individual {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.controls {
  padding: 10px;
  margin: 0px;
}
.controls > ul > li {
  list-style-type: none;
  cursor: pointer;
}
.chat-container {
  min-width: 240px;
  margin: 0px;
  padding: 0px;
  width: 24%;
  top: 25px;
  left: -24%;
  z-index: 1;
  background-color: #222;
  opacity: 0.9;
  height: calc(100vh - 50px);
  position: absolute;
  transition: all 1s ease;
}
.chat-container.show {
  left: 0;
}
.chat-toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #555;
  top: 0;
  right: -40px;
  border-radius: 0 5px 5px 0;
}
.chat {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin: 0px;
}
.messages {
  padding: 0px;
  margin: 0px;
  background-color: #333;
  height: calc(100vh - 190px);
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
.message-input {
  padding-top: 8px;
}
.chat-text {
  color: #999;
  border: 1px solid #555;
  background-color: #333;
  padding: 4px;
  margin: 0;
}
.chat-send-button {
  background-color: #333 !important;
  border-radius: 4px;
  border: 1px solid #444;
  width: 60px;
  height: 24px;
  color: #777;
  padding: 0;
  float: right;
  margin-bottom: 8px;
  margin-top: 4px;
}
.boxsizingBorder {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}