<div class="row">

  <div class="chat-container" ng-class="{show: showChat}" ng-controller="ChatController">
  
    <div class="controls">
      <ul>
        <li ng-click="toggleMyVideo()" class="toggleable" ng-class="{off: !media.video}">Toggle Video</li>
        <li ng-click="toggleMyAudio()" class="toggleable" ng-class="{off: !media.audio}">Toggle Audio</li>
      </ul>
      <div class="youAre">
        You are:<input class="un" type="text"></input>
      </div>
      <div class="chat-toggle" ng-model="showChat" ng-click="showChat = !showChat">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13.725px" height="22.062px" viewBox="0 0 13.725 22.062" enable-background="new 0 0 13.725 22.062" xml:space="preserve">
          <path d="M6.375,11.03l6.742-6.742c0.81-0.809,0.81-2.135,0-2.944L12.38,0.607c-0.81-0.811-2.135-0.811-2.945,0L0.6,9.442c-0.435,0.434-0.628,1.017-0.597,1.589c-0.031,0.571,0.162,1.154,0.597,1.588l8.835,8.834c0.81,0.811,2.135,0.811,2.945,0l0.737-0.737c0.81-0.808,0.81-2.134,0-2.943L6.375,11.03z" />
        </svg>
      </div>
    </div>
    <div class="chat">
      <div class="messages-container">
        <div class="messages-shadow">
          <div class="messages">
          </div>
        </div>
      </div>
      <div class="message-input">
        <textarea class="chat-text boxsizingBorder" type="text"></textarea>
        <button type="submit" class="chat-send-button">Send</button>
      </div>
    </div>
  </div>

  <div class="col-sm-9 presentation">
    <div class="vid">
      <video class="video main" autoplay></video>
    </div>
  </div>

  <div class="col-sm-3 sidebar-videos"></div>

</div>
