<ul class="slide-out">
  <li ng-click="toggleMyVideo()">Toggle Video</li>
  <li ng-click="toggleMyAudio()">Toggle Audio</li>
</ul>
<div class="chat">
  <div class="header-chat">
    <h5>Chat</h5>
    <div>X</div>
  </div>
  <div class="main-chat">
    <p>This is the chat area</p>
    <p>Put whatever the heck you want in it</p>
    <p>Fo' sho'</p>
  </div>
  <form class="new-chat">
    <input type="text">
    <input type="submit"/>
  </form>
</div>
<div class="row">
  <div class="col-sm-9">
    <div class="whiteboard hide">
      <p>This is our whiteboard</p>
      <p>we can put all sorts of stuff in it</p>
    </div>

    <div class="presentation">
    <!-- please change / style as appropriate the below link -->
      <h4>{{meetingLink}}</h4>
      <video class="video main" autoplay muted></video>
    </div>
  </div>
  <div class="col-sm-3 sidebar-videos">
    <!-- <video ng-repeat="video in sidebarVideos" ng-click="supplantMain(video)" class="video individual"></video> -->
  </div>
</div>
