<div class="navigation navbar navbar-default navbar-static-top" ng-if="isHome()">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand logo">Video Chat</a>
      <form class="form room-search">
        <input type="text" class="room-lookup" ng-model="room.search"/>
        <button class="submit-button">Submit</button>
        <div class="room-not-found" ng-if="room.error">
          <span class="error" ng-if="room.notFound">Room not found</span>
          <span class="error" ng-if="room.meetingOver">Meeting has ended</span>
        </div>
      </form>
    </div>
  </div>
</div>
